body{
    background-color: #222;
}
.n-h{
    color: rgb(245, 62, 30);
    font-weight:900;
    background-image:linear-gradient(45deg, rgb(255, 2, 87),rgb(31, 31, 31),rgb(243, 243, 243));
    -webkit-text-fill-color:transparent;
    background-position: center;
    -webkit-background-clip: text;
    animation: nav 10s infinite  alternate;
    background-size: 400%;
    font-family: 'Staatliches', cursive;
}
@keyframes nav{
    0%{
      background-position: left;
    }
   100%{
   background-position: right;
     
    }
}
.bg-body{
    background: #222;
}
.nav-link{
    color: white !important;
    font-family: 'Comfortaa', cursive;
}
.navbar-nav .nav-link{
    padding-left: 1.5rem !important;
}
.fa-bars{
    color: white !important;
}
.fa-bars{
    color: rgb(245, 62, 30);
    font-weight:900;
    background-image:linear-gradient(45deg, rgb(255, 2, 87),rgb(31, 31, 31),rgb(243, 243, 243));
    -webkit-text-fill-color:transparent;
    background-position: center;
    -webkit-background-clip: text;
    animation: nav 10s infinite  alternate;
    background-size: 400%;
}
@keyframes menu {
    
}
/* js project  */

.ageCsec{
    display: block;
    background-color: rgba(192, 18, 18, 0.808);
    width: 90%;
    margin:auto;
    border-radius: 30px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 10px 20px 4px black;
}
@media (min-width:900px) {
    .ageCsec{
        position: absolute;
        width: 50%;
        padding: 3rem;
    }
}
.headJS{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.mainjs{
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin: auto;
    padding: 1rem;
    text-align: center;

}
.date,.Month,.Year{
    display: inline-block;
    width: 30%;
    margin: auto;

}

.date input[type=text],.Year input[type=text],.Month input[type=text]{
    width: 80%;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 20px;

}
input[type=button]{
    display: block;
    width: 40%;
    padding: 0.4rem rem;
    margin: auto;
    margin-top: 3rem;
}
#age{
    font-size: 2rem;
    color: white;
}
/* js project finished */
/* header */
.clipy{
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}